*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#031321;
    --back-a:#103053;
    --second-color:#2196f3;
    --a-color:#255754;
}
li{list-style-type: none;}
a{text-decoration: none;}

.img-container{
    position: relative;
    background: linear-gradient(rgba(0,0,0.7), rgba(0,0,0,0.4));
    max-height: 300px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.img-container .r{
    display: block;
    width: 100%;
    min-height: 300px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 1s ease;
}
.img-container .r:hover{opacity: .5;}
.img-overlay{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    background: rgb(147, 147, 147);
    margin-bottom: -100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:0 20px;
   transition: margin 2s ease;
}
.text h3{
    font-size: 20px;
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 0 0 5px 0;
}
.text p{font-style: italic;}
.img{
    background: white;
    width: 40px;
    height: 37px;
    display: flex;
    border-radius: 50px;
    transition: transform 2s ease, background 2s ease;
}
.img img{
    margin: auto;
    width: 30px;
    height: 30px;
    transition: transform 2s ease, background 2s ease;
}
.img img:hover{
    transform: translateY(-0px);
}
.img:hover {
    transform: translateY(-15px);
    background: #082238;
}
.img-container:hover .img-overlay{margin-bottom:0px ;}

#header{
    background-color: #2E2633;
    text-align: center; 
}
#header a{
    padding: 20px;
    color: #fff;
    display: block;
    transition:background-color 1s;
    position: relative;
}
#header .logo{
    font-size: 2em;
}
#header .a:hover{
    background-color: rgba(0,0,0.1);
}
#header .a::after{
    content: '';
    transition:  .5s ease;
    top: 12px;
    right: 12px;
    /*bottom: 0;
    left: 0;*/
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid #c9c9c9;
  /*  border-width: top right bottom left;*/
    border-width:  3px 3px 0 0;
    opacity: 0;
}
#header .a::before{
    content: '';
    transition:  .5s ease;
    /*top: 12px;
    right: 12px;*/
    bottom: 12px;
    left: 12px;
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid #c9c9c9;
  /*  border-width: top right bottom left;*/
    border-width:  0 0 3px 3px;
    opacity: 0;
}
#header .a:hover:before{
    bottom: 1px;
    left: 1px;
    opacity: 1;
}
#header .a:hover:after{
    opacity: 1;
    top: 1px;
    right: 1px;
}
#header .a{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#intro{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: #c94b4b;
    background: linear-gradient(to bottom, rgba(46,35,51, 1),
    rgba(220,233,190,0.5)
     ), url('../Imagens/cover.jpg');
     background-size: cover;
     text-align: center;
}
#intro h1{
    font-size: 2em;
    margin-bottom: 20px;
}
#intro p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#aside{
    display: none;
}
#gallery h2{
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#services{
    padding: 20px;
}
#services h2{
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
#services .service{
    background: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0.7);
    padding:10px 10px;
    overflow: hidden;
}
#services .service img{
    width: 100%;
    height: 200px;
    
}
#services .service h5{
    font-size: 1.5em;
    padding:5px 0px;
    text-align: left;
}
#services .service p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 2px 1px 10px;
}
#services .service a{
    color: #fff;
    background: crimson;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: background 1s ease;
    margin: 10px 0px 10px;
}
#services .service a:hover{
    background: #082238;
    color: #fff;
}
.service-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}


#about{
    padding: 20px;
    background: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}
#about h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}
#about p{
    padding: 10px 10px;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{background: #ececec;}

#contact{
    
    padding: 20px;
}
#contact h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
#contact form{
    padding: 10px 10px;
    max-width: 600px;
    background: aliceblue;
    margin: auto;
}
#contact form .place{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#contact form .place img{
    width: 35px;
    height: 35px;
    background: #c9c9c9;
}
#contact form .place input{
    width: 90%;
    padding: 0px 20px;
    outline: none;
    border: 2px solid transparent;
    color: black;
}
#contact form .place input::placeholder{
    color: black;
}
#contact form textarea{
    display: block;
    width: 100%;
    outline: none;
}
#contact form textarea,input:focus{border: 2px solid rgb(126, 122, 122)}

#footer{
    padding: 20px; 
    text-align: center;
    background: #0F2C4B;
    color: #fff;
}

@media screen and (min-width: 650px){
    #header ul{
        display: flex;
        text-align: center;
       
    }
    #header .logo{
        margin-right: auto;
    }/*
    #header .li {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        margin:0 auto 0 ;
        display: flex;
        padding: 0px 0px;
    }*/
    #header .li .a{
        margin: 0px 0px;
        text-align: center;
        padding: 27px;
    }
    #intro{
        height: 400px;
    }
    #aside{
        display: block;
        background-color: #fff;
    }
    #aside h2{display: none;}
    #aside a{
        padding: 20px;
        display: block;
        color: black;
        text-decoration: none;
    } 
    #aside ul{
        display: flex;
        justify-content: center;
    }
    #gallery .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
   /* .img-container:first-child{
        grid-column: 1/4;
    }*/
    #services .service-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
       /*   grid-template-columns: 1fr 1fr;  */
    }
    /*#services .service{width: 500px;}*/
}
@media screen and (min-width:1200px){
    body{
        display: grid;
        margin: auto;
        max-width: 1300px;
        grid-template-columns: 220px 950px 150px;
        grid-template-areas: 
        "header intro intro"
        "header gallery aside"
        "header services aside"
        "header about aside"
        "header contact aside"
        "footer footer footer"
        ;
    }
    #header{
        grid-area: header;
    }
    #header ul{
        display: flex;
        flex-direction: column;
    }
    #intro{
        grid-area: intro;
    }
    #aside{
        grid-area: aside;
    }
    #aside h2{
        display: block;
        margin-bottom: 20px;
        font-size: 1.5em;
        padding: 15px;
    }
    #aside ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #gallery{
        grid-area: gallery;
    }
    #services{
        grid-area: services;
    }
    #about{
        grid-area: about;
    }
    #contact{
        grid-area: contact;
    }
    #footer{
        grid-area: footer;
    }
}
#aside{
    overflow: hidden;
    background: #FFAB85;
}
#aside ul li a{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 16px;
    background: #FFAB85;
    overflow: hidden;
    position: relative;
    margin: 4px;
}
#aside ul li a:hover{
    transition: all .5s ease;
    background: #103053;
    color: #f5f5f5;
    background: var(--back-a);
    box-shadow: 0px 0px 10px var(--back-a),0px 0px 40px var(--back-a),0px 0px 80px var(--back-a) ;
    transition-delay: 1s;
}
#aside ul li a span{
    position: absolute;
    display: block;
    overflow: hidden;
}

#aside ul li a span:nth-child(1){
    transition: 1s;
    top: 0;
    left: -110%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,var(--second-color));
}
#aside ul li a:hover span:nth-child(1){
    left: 100%;
}

#aside ul li a span:nth-child(3){
    transition: 1s;
    transition-delay: .5s;
    right: -110%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,var(--second-color));
}
#aside ul li a:hover span:nth-child(3){
    right: 100%;
}

#aside ul li a span:nth-child(2){
    transition: 1s;
    transition-delay: .2s;
    top: -100%;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg,transparent,var(--second-color));
}
#aside ul li a:hover span:nth-child(2){
    top: 100%;
}

#aside ul li a span:nth-child(4){
    transition: 1s;
    transition-delay: .75s;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg,transparent,var(--second-color));
}
#aside ul li a:hover span:nth-child(4){
    bottom: 100%;
}